/*DROPDOWN BUTTON*/
.dropbin {
    background-color: black;
    color:white;
    padding: 32px 16px;
    border-radius: 12px;
    font-size: 10px;
    font-weight: 10px;
    border: none;
    cursor:pointer;
}

/*DROPDOWN BUTTON ON HOVER & FOCUS */
.dropbtn:hover, .dropbtn:focus{
    background-color: #2980B9
}

/* THE CONTAINER <DIV> - NEED TO POSITION THE DROP CONTENT */
.dropdown {
    position: relative;
    display: inline-block;
}

/* DROPDOWN CONTENT (HIDDEN BY DEFAULT) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* LINKS INSIDE THE DROPDOWN */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*CHANGE COLOR OF DROPDOWN LINKS ON HOVER */
.dropdown-content a:hover {background-color: #ddd}

/* SHOW THE DROPDOWN MENU (USE JS TO ADD THIS CLASS TO THE 
.DROPDOWN-CONTENT CONTAINER WHEN THE USER CLICKS ON THE 
DROPDOWN BUTTON) */
.show {display: block;}












textarea {
    width:400px;
    height:80px;
    background-color: #fff;
    resize: none;
}

button{
    width: 100px;
    height:30px;
    background-color: black;
    border: none;
    color: #fff;
    font-family: arial;
    font-weight: 400;
    cursor: pointer;

}



header {

	padding: 25px; 
}



h2 img {

	display: block;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

h6 img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/*<header>
	<title> SAVE THE DALAMMAS!</title>
   <link rel="stylesheet" type="text/css" href="css/test.css">
</header>

      </font>
	<h2>
		<img  class="big-image"   src="img/lamma.jpg">
	</h2>

    <h3>
    	<p style="color: blue"
    	   style="font-size: 50px" 

    	> the lamma catfish is an endangered spices</p>
    </h3>*/

    body {
    	background-color: darkgrey;
    }
</body>






