header {

	padding: 40px 20px 40px 20px; 
}

h2 img {
	border-radius: 150px;
}

/*<header>
	<title> SAVE THE DALAMMAS!</title>
   <link rel="stylesheet" type="text/css" href="css/test.css">
</header>

      </font>
	<h2>
		<img  class="big-image"   src="img/lamma.jpg">
	</h2>

    <h3>
    	<p style="color: blue"
    	   style="font-size: 50px" 

    	> the lamma catfish is an endangered spices</p>
    </h3>*/

    body {
    	background-color: darkgrey;
    }
</body>






