textarea {
    width:400px;
    height:80px;
    background-color: #fff;
    resize: none;
}

button{
    width: 100px;
    height:30px;
    background-color: black;
    border: none;
    color: #fff;
    font-family: arial;
    font-weight: 400;
    cursor: pointer;

}



header {

	padding: 25px; 
}



h2 img {

	display: block;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

h6 img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/*<header>
	<title> SAVE THE DALAMMAS!</title>
   <link rel="stylesheet" type="text/css" href="css/test.css">
</header>

      </font>
	<h2>
		<img  class="big-image"   src="img/lamma.jpg">
	</h2>

    <h3>
    	<p style="color: blue"
    	   style="font-size: 50px" 

    	> the lamma catfish is an endangered spices</p>
    </h3>*/

    body {
    	background-color: darkgrey;
    }
</body>






